
.week {
  /*height: 200px;*/
  /*overflow: hidden;*/
  position: relative;
  margin: 10px;
  min-height: 200px;
}

body {
  background-color: black
}

.week:nth-child(odd)		{ background-color:#111; }
.week:nth-child(even)		{ background-color:#000; }

.week-label {
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: absolute;
  /*left: 20px;*/
  top: 10px;
}

.week-content {
  /*position: absolute;*/
  /*left: 20px;*/
}

.entry {
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  position: relative;
  background-size: cover;
  display: inline-block;
  margin: 2px;
}

.entry-link:hover .entry-overlay {
  display:block
}

.entry-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.entry-overlay {
  display: none;

  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.entry-overlay, .entry-overlay h4 {
  color: white;
}
